💸 [Collateral Market Buy]({{tx.view}})

User [{{e.customer}}]({{network.etherscan}}/address/{{e.customer}}) swap {{#amount}}{{e.amount}} {{e.token}}{{/amount}} to {{#amount}}{{e.buy}} USDp{{/amount}} tokens