💸 [Staking Withdrawn]({{tx.view}})

User [{{e.user}}]({{network.etherscan}}/address/{{e.user}}) withdrawn {{#float}}{{e.amount}} 18{{/float}} from {{#contractName}}{{contract.address}}{{/contractName}}