💸 [Staking Reward Paid]({{tx.view}})

User [{{e.user}}]({{network.etherscan}}/address/{{e.user}}) get reward {{#amount}}{{e.reward}} BAG{{/amount}} from {{#contractName}}{{contract.address}}{{/contractName}}