🚨 *Uniswap liquidity pool reserves is empty*

Reserves in pair [{{pair.token0.symbol}}/{{pair.token1.symbol}}]({{network.etherscan}}/address/{{pair.address}}) is empty
{{#amount}}{{token0Amount}} {{pair.token0.address}}{{/amount}}
{{#amount}}{{token1Amount}} {{pair.token1.address}}{{/amount}}

expected {{min}}